navbar{ font-size: 18px; margin-top:10%;
}

ul{
  text-align: right;
  margin-right: 125px;
}
li {
  display:inline;
  margin-left: 25px;

}

.name{ position: relative;
right: 65%;
font-size: 24px;

}
body{
  margin-left: 10%;
  background-color: rgb(32, 33, 36);
  color: white;
font-family: 'Space Grotesk', sans-serif;

}

.line{ text-decoration: underline;
  line-height: 28px;

}
.line2 {
  text-decoration: underline;
  line-height: 20px;
position: relative;
left: 55%;
font-size: 14px;
}

.largetext{
font-size: 65px;

}

.smalltext{
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  color: rgb(192, 185, 185);

}




.grid{ font-size: 35px;
  margin-top: 50px;
  margin-left: -2%;
  display: inline;
display:grid;
grid-template-columns: 5fr 5fr 5fr ;
line-height: 30px;
row-gap: 40%;

}

.exp{
  color: darkgray;
  font-size: 14px;
}

.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
margin-top: 50px;

}

.container2{
  background-color: rgba(49, 49, 50, 0.873);
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: fit-content;
  margin-left: -11%;
  padding: 0;
  padding-left: 11%;
}

h2{
  font-size: 55px;
}

p{
  font-size: 14px;
  color: rgb(237, 236, 236);
}

